.deletecircuit {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
  }

  &-title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &-delete {
    border: 1px solid black;
    box-shadow: 1px 1px 1px;
    padding: 0.5rem;
  }

  &-button {
    border: 1px solid black;
    box-shadow: 1px 1px 1px;
    padding: 0.5rem;
    width: 30%;
    margin: 0.5rem 2rem;
  }
}
